*.o
*.pyc
\.*.swp
scripts/
plots/
hpcload
remote.sh
running_jobs
next_meeting
micro.py
results/
stop_jobs.sh
push.sh
runtests
lib/
actin_dynamics/stochasticpy.so
actin_dynamics/stochastic/bin
actin_dynamics/stochastic/install
