*.pyc
\.*.swp
scripts/
plots/
prof/
hpcload
remote.sh
running_jobs
next_meeting
micro.py
results/
stop_jobs.sh
push.sh
Makefile.in
*.o
aclocal.m4
autom4te.cache
config
configure
Makefile
config.log
config.status
.libs
libtool
.deps
.dirstamp
runtests
*.lo
*.la
stochastic.py
stochastic_wrap.cxx
